{{ template "header.html" . }}
<main>
    <div class="main">
        <form action="/loginAuth" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="login">
        </form>
        <div class="signup">
            <a href="/signup">Sign up</a>
        </div>
    </div>
</main>
{{ template "footer.html" . }}