{{ template "header.html" . }}
<main>
  <div class="main">
      <form action="/loginAuth" method="post" class="login-form">
        {{ if .ErrorMessage }}
        <div class="login-error" id="error-message" aria-live="assertive">{{ .ErrorMessage }}</div>
        {{ end }}
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
      <input type="submit" value="Login" />
    </form>
    <div class="signup">
      <a href="/signup">Sign up</a>
    </div>
  </div>
</main>
{{ template "footer.html" . }}

<script>
  function ShowErrorMessage() {
    let message = document.getElementById("error-message");
    // if (message && message.textContent.trim() !== "") {
      message.style.display = "inline-block";
      setTimeout(() => {
        message.style.display = "none";
      }, 3000);
    // }
  }

  // Call the function if there is an error message
  ShowErrorMessage();
</script>
